:root {
  --color-gold: #b2a390;
  --color-experience-gold: #a38b3f;
  --text-color: #666666;
  --color-gray: #30373a;
  --color-blue: #a2cbed;
  --color-green: #afb839;
  --color-experience-green: #103f3d;
  --color-experience-dark-gray: #e4e0da;
  --color-experience-light-gray: #f9f5f1;
  --body-font: "Open Sans", sans-serif;
  --heading-font: "kepler-std-display", "Playfair Display", sans-serif!important;
}

/* COLOR CLASSES */

.color-gold{
	color:var(--color-gold)!important;
}
.color-experience-gold{
	color:var(--color-experience-gold)!important;
}
.color-blue{
	color:var(--color-blue)!important;
}
.color-green{
	color:var(--color-green)!important;
}
.color-experience-green{
	color:var(--color-experience-green)!important;
}
.color-gray{
	color:var(--color-gray)!important;
}
.color-experience-dark-gray{
	color:var(--color-experience-dark-gray)!important;
}
.color-experience-light-gray{
	color:var(--color-experience-light-gray)!important;
}

/* BACKGROUND CLASSES */

.bg-gold{
	background-color:var(--color-gold)!important;
}
.bg-experience-gold{
	background-color:var(--color-experience-gold)!important;
}
.bg-blue{
	background-color:var(--color-blue)!important;
}
.bg-green{
	background-color:var(--color-green)!important;
}
.bg-experience-green{
	background-color:var(--color-experience-green)!important;
}
.bg-gray{
	background-color:var(--color-gray)!important;
}
.bg-experience-dark-gray{
	background-color:var(--color-experience-dark-gray)!important;
}
.bg-experience-light-gray{
	background-color:var(--color-experience-light-gray)!important;
}



:is(h1, h2, h3, h4, h5, h6) {
  font-family:"kepler-std-display", "Playfair Display", sans-serif!important;
}
.h1{
    font-family:var(--heading-font)!important;
    color:var(--color-gold)!important;
    font-size: 38px!important;
    line-height: 50px!important;
}
.h2{
    font-family:var(--heading-font)!important;
    color:var(--color-gold)!important;
    font-size: 25px!important;
    line-height: 36px!important;
}
.h3{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 20px!important;
    line-height: 27px!important;
    font-style:italic!important;
}
.h4{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 16px!important;
    line-height: 20px!important;
}
.h5{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 14px!important;
    line-height: 18px!important;
}
