body{
  overflow-x:hidden!important;
}
#page-wrap{
  overflow:visible!important;
}
.post-info, .share-links, .post-pagination-wrap, .author-info-wrap{
  display:none;
}
h1.product-landing__hero__title{
  font-size:clamp(3rem,8vw,6rem);
}
.product-landing__intro > div{
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
}
.product-landing__intro h2{
  margin-bottom:2rem;
  color:var(--color-gold);
}
.product-landing__hero__inner{
 min-height:500px;
}
.fw-row{
  margin-left: calc(-50vw + 50%)!important;
  margin-right: calc(-50vw + 50%)!important;
}
.fw-row > .container{
  max-width:1170px;
}
.product-landing__collection figcaption{
  padding: 1rem;
}
.product-landing__collection{
  background-color:#ececec;
}
.product-landing__collection figure img{
  margin-bottom:0;
}
.quote-block{
  background-color:white;
  min-height:360px;
}
.quote-block q.h2 p{
  font-family: var(--heading-font)!important;
    color: var(--color-gold)!important;
    font-size: 25px!important;
    line-height: 36px!important;
    font-style: italic!important;
}
q::before{
    font-size: 5rem;
    font-family: 'dashicons';
    font-weight: 700;
}
q::after{
  display:none;
}
.cite{
  font-size:1.5rem;
  line-height:1.4;
