:root {
  --color-gold: #b2a390;
  --text-color: #666666;
  --color-grey: #30373a;
  --color-blue: #a2cbed;
  --color-green: #afb839;
  --body-font: font-family: "Open Sans", sans-serif;
  --heading-font: font-family: "Playfair Display", sans-serif;font-style:italic!important;
}
.h1{
    font-family:var(--heading-font)!important;
    color:var(--color-gold)!important;
    font-size: 38px!important;
    line-height: 50px!important;
}
.h2{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 25px!important;
    line-height: 36px!important;
}
.h3{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 20px!important;
    line-height: 27px!important;
}
.h4{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 16px!important;
    line-height: 20px!important;
}
.h5{
    font-family:var(--heading-font)!important;
    color:var(--color-body-font)!important;
    font-size: 14px!important;
    line-height: 18px!important;
}
